*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.btn{
    font-size: 1.4rem;
    border: 0.1rem solid black;
    font-weight: 400;
    height: 3.5rem;
    width: 11rem;
    margin:1rem ;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}
.btn:hover{
    cursor: pointer;

}
#btn1{
    background-color: #fab1f6;
}
#btn2{
    background-color:#00b3ff;
}
.maincontainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top,#fab1f6, #00b3ff);
}

.container{
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    padding:0.7rem;
    width: 30%;
    aspect-ratio: 2;
    border-radius: 1.3rem;
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    -ms-border-radius: 1.3rem;
    -o-border-radius: 1.3rem;
}
.gredient_box{
    grid-column-start: 1;
    grid-column-end: 4;
    position: relative;
    padding: 0.7rem;
    border-left: 0.2rem solid white;
    background-color: #ffffff1e;
    height: 9rem;
    width: 100%;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}
.gredient_box p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 2.2rem;
    color:rgb(0, 0, 0);
    font-size: 1.7rem;
    margin: 0.2rem;
    letter-spacing: 0.1rem;
   
}




@media (max-width:1276px){

    .gredient_box p{
        text-align: center;
        top: 2.2rem;
        font-size: 1.4rem;
    }
    

}
